/* ========================================
	横幅 1200px以下の設定
========================================= */

@media (max-width: 1200px) {

  /* ===自己紹介=== */
  .about .container {
    max-width: 900px;
  }
  .about .pic img {
    width: 360px;
    height: 360px;
  }

  /* ===ポートフォリオ=== */
  .portfolio  ul {
    max-width: 880px;
  }
  /* ===コンタクト=== */

  .contact .container {
    max-width: 870px;
  }

  .form_left {
    width: 405px;
  }
  
  .form_right {
  width: 405px;
  }
}
/* ========================================
	横幅 980px以下の設定
========================================= */

@media (max-width: 980px) {
  header  img {
    display: block;
  }

  /* ===メインイメージ=== */
  .header_right {
    display: none;
  }

  .br::before {
    content: "\A" ;
    white-space: pre;
  }
  /* ===自己紹介=== */
  .about .container {
    max-width: 660px;
  }

  .about .pic img {
    width: 265px;
    height: 265px;
  }

  /* ===ポートフォリオ=== */

  .portfolio  ul {
    max-width: 660px;
  }
  .portfolio  li {
    width: 300px;
  }

  .lp_image {
    width: 300px;
    height: 230px;
  }

  /* ===サービス=== */

  .services > .container {
   max-width: 660px;
  }

  .services li {
    width: 300px;
  }

  /* ===コンタクト=== */

  .contact .container {
    max-width: 630px;
  }

  .form_left {
    width: 285px;
  }
  
  .form_right {
  width: 285px;
  }

}
/* ========================================
	横幅 760px以下の設定
========================================= */

@media (max-width: 760px) {
 
  /* ===ヘッダー=== */

  header  img {
    margin: 10px 20px 0 0;
  }
  /* ===メインイメージ=== */

  .br::before {
    content: "\A" ;
    white-space: pre;
  }

  .main_image > h1 {
    font-size:26px;
   }

  .main_image  p {
    font-size:50px;
  }
  
  .main_image span {
    font-size:50px;
  }

  .btn_contact {
    padding: 20px 45px;
  }

  /* ===自己紹介=== */

  .about .container {
    max-width: 480px;
  }

  .pic {
    width: 100%;
  }

  .about .pic img {
    width: 100%;
    height: 100%;
  }

  .info {
    width: 100%;
  }

  /* ===ポートフォリオ=== */

  .portfolio .container {
   padding-bottom: 20px;
  }

  .portfolio  ul {
    max-width: 400px;
  }
  .portfolio  li {
    width: 100%;
  }

  .lp_image {
    width: 400px;
    height: 300px;
  }

  /* ===サービス=== */

  .services ul {
    max-width: 480px;
  }
 
  .services li {
    width: 100%;
  }

  /* ===コンタクト=== */

  .contact .container {
    max-width: 480px;
  }

  .form_left {
    width: 100%;
  }
  
  .form_right {
    width: 100%;
  }

  .btn_contact {
    width: 100%;
    text-align: center;
  }

  /* ===フッター=== */

  .footer_logo {
     margin: 0;
     padding-top: 10px;
  }
}