@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


/* ========================================
	フロートの解除
========================================= */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/* ========================================
	全体設計
========================================= */
body {
  min-width: 580px;
	color:#212529;
	font-size: 14px;
	line-height: 1;
	font-family: Montserrat, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ========================================
	全体設計
========================================= */
@font-face {
  font-family: 'Kaushan Script';
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

header {
  height: 53px;
  width: 100%;
  background-color: #212529;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position :fixed;
  top: 0;
  z-index: 10;
}

.ddmenu  {  
   /* やっている途中ーーーーーーーーーーー */

position: absolute;
padding-top: 50px;
padding-left: 100px;
display: none;
}

.header_lert a {
  width: 500px;
  color: #66CC66;
  font-size: 28px;
  font-family: 'Kaushan Script';
  line-height: 53px;
  padding-left: 50px;
  text-decoration: none;
  position: relative;
}

header  img {
  margin: 10px 60px 0 0;
  display: none;
}

.header_right ul {
  display: flex;
  padding-right: 50px;
}

.header_right li {
  color: #ffffff;
}

.header_right a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
  line-height: 53px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.header_right a:hover {
  color: #66CC66;
}

/* ========================================
	メインイメージ
========================================= */

.main_image {
  background: url(../img/IMG_4981.JPG);
  background-size: cover;
  background-position: center top;
  width: 100%;
  text-align: center;
  padding:200px 0 390px;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.main_image > h1 {
  font-size:40px;
  font-weight: 400;
  font-family: "Droid Serif";
  text-shadow: 2px 2px 0 #212529;
}

.main_image p {
  font-size:75px;
  font-weight: 700;
  font-family: Montserrat;
  letter-spacing: 10px;
  text-shadow: 5px 5px 0 #212529;
  padding: 30px 0 80px 0;
}

.main_image span {
  font-size:75px;
  font-weight: 700;
  font-family: Montserrat;
  letter-spacing: 10px;
  text-shadow: 5px 5px 0 #212529;
  padding: 30px 0 80px 0;
}

.main_image  > .btn_contact {
  font-size:18px;
  font-weight: 700;
  font-family: Montserrat;
  background-color: #66CC66;
  color: #ffffff;
  padding: 25px 50px;
  text-decoration: none;
  border-radius: 5px;
  text-shadow: 2px 2px 0 #212529;
  opacity: 0.8;
}

.btn_contact:hover {
  opacity: 1;
}

/* ========================================
	自己紹介
========================================= */

.about {
  /* background-color: pink; */
  padding-bottom: 160px;
}

.about > h2 {
  font-size:40px;
  color: #212529;
  font-weight: 700;
  font-family: Montserrat;
  text-align: center;
  padding-top: 105px;
}

.about > p {
  font-size:16px;
  color: #6c757d;
  font-weight: 400;
  font-family: "Roboto Slab";
  text-align: center;
  padding-top: 28px;
}


.about .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1080px;
  margin: 75px auto 0;
  /* background-color: yellow; */
}

.pic {
  /* background-color: salmon; */
  width: 50%;
  text-align: center;
  padding-bottom: 60px
}

.pic img {
  border-radius: 50%;
}

.info {
  /* background-color: royalblue; */
  width: 50%;
}

.profile {
 /* background-color: tan; */
 color: #212529;
 text-align: left;
}

.profile > h3 {
  font-size:30px;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  border-bottom: 2px solid #66CC66;
}

.profile > p {
  font-size:16px;
  font-weight: 400;
  font-family: "Roboto Slab";
  line-height: 45px;
  padding: 40px 0 0 50px;
}

.skill {
 /* background-color: sienna; */

}

.skill > h3 {
  font-size:30px;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 60px;
  text-align: center;
  border-bottom: 2px solid #66CC66;
}

.skill > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 60px;
  justify-content: space-evenly;
}

.skill  p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}

/* ========================================
	ポートフォリオ
========================================= */

.portfolio {
  background-color: #F8F9FA;
}

.portfolio .container {
  /* background-color: aquamarine; */
 text-align: center;
 margin: 0 auto;
 padding: 75px 0 180px 0;
}

.portfolio > h2 {
  font-size:40px;
  color: #212529;
  font-weight: 700;
  font-family: Montserrat;
  text-align: center;
  padding-top: 105px;
}

.portfolio > p {
  font-size:16px;
  color: #6c757d;
  font-weight: 400;
  font-family: "Roboto Slab";
  text-align: center;
  padding-top: 28px;
}

.lp_image {
  width:			400px;
	height:			300px;
	overflow:		hidden;
  position:relative;
}

.lp_image .message {
	font-size: 20px;
	color: #fff;
	padding-top:		150px;
	padding-left:		0px;
}

.lp_image .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(101, 204, 102, 0.8);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}

.lp_image:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

.portfolio a img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.portfolio img:hover {
  opacity: .6;
}

.portfolio  ul {
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  max-width: 970px;
  margin: 0 auto;
  justify-content: space-between;
}

.portfolio  li {
  width: 400px;
  padding-bottom: 80px;
  /* background-color: tomato; */
}

.portfolio  h3 {
  background-color: #ffffff;
  font-size:28px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 25px;
  text-align: center;
}

.portfolio .container p {
  background-color: #ffffff;
  font-size:16px;
  font-weight: 400;
  font-family: "Droid Serif", -apple-system, system-ui,;
  color: #6c757d;
  line-height: 65px;
  text-align: center;
}

/* ========================================
	サービス
========================================= */

.services > .container {
  text-align: center;
  margin: 80px auto 25px;
}

.services > h2 {
  font-size:40px;
  color: #212529;
  font-weight: 700;
  font-family: Montserrat;
  text-align: center;
  padding-top: 105px;
}

.services > p {
  font-size:16px;
  color: #6c757d;
  font-weight: 400;
  font-family: "Roboto Slab";
  text-align: center;
  padding-top: 28px;
}

.services ul {
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  max-width: 970px;
  margin: 0 auto;
  justify-content: space-between;
}

.services li {
  width: 400px;
  padding-bottom: 95px;
  /* background-color: tomato; */
  text-align: center;
}

.imgouter {
  background-color: #66CC66;
  margin: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.imgouter img {
  padding-top: 25px;
}

.services  h3 {
  /* background-color: violet; */
  font-size:28px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 25px;
  text-align: center;
}

.services .container p {
  /* background-color: rgb(82, 31, 202); */
  color: #6c757d;
  font-size:16px;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 28px;
  padding-top: 10px;
}

/* ========================================
	お問い合わせ
  ========================================= */
  
.contact {
  background: url(../img/milky-way-1023340__480.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 105px 0 100px 0;
}

.contact > h2 {
  font-size:40px;
  font-weight: 700;
  font-family: Montserrat;
  text-align: center;
}

.contact > p {
  font-size:16px;
  font-weight: 400;
  font-family: "Roboto Slab";
  text-align: center;
  padding-top: 10px;
}

.contact .container {
  /* background-color: thistle; */
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  padding-top: 70px;
  margin: 0 auto;
  justify-content: space-between;
}

.form_left {
  /* background-color: turquoise; */
  width: 495px;
}

.form_right {
/* background-color: yellow; */
width: 495px;
}

.contact  p {
  color: #ffffff;
  font-size:16px;
  font-weight: 400;
  font-family: "Roboto Slab", -apple-system, system-ui;
  line-height: 42px;
}

.contact  span {
 background-color: red;
 border-radius: 20px;
 letter-spacing: 2px;
 padding: 8px;
 margin-right: 10px;
}

input {
  font-size: 100%;
  font-weight: 500;
  font-family: "Roboto Slab", -apple-system, system-ui,;
  color: #495058;
  width: 100%;
  height: 65px;
  border-radius: 5px;
  outline: none;
}

textarea {
  font-size: 100%;
  font-weight: 500;
  font-family: "Roboto Slab", -apple-system, system-ui,;
  color: #495058;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  outline: none;
}

form .btn_contact {
  font-size:18px;
  font-weight: 700;
  font-family: Montserrat;
  background-color: #66CC66;
  color: #ffffff;
  padding: 25px 80px;
  text-decoration: none;
  border-radius: 4px;
  text-shadow: 2px 2px 0 #212529;
  opacity: 0.8;
  margin:10px auto 0;
}

/* ========================================
  フッター
  ========================================= */
footer {
  padding:50px 0 100px;
}

footer p {
  text-align: center;
}

.footer_logo {
  text-align: center;
   margin-top:-30px;
   margin-left: 500px;
}

.footer_logo > a {
  padding-left: 10px;
}
